<div class="container center">
<article>
  <h2><%= @article.title %>
    <small> <%= link_to edit_article_path(@article) do %><i class='fa-solid fa-pen-to-square'></i>
      <% end %>
    <%= link_to article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure delete #{@article.title}?"} do %>
    <i class="fa-solid fa-trash-can"></i>
      <% end %>
      </small>
  <hr>
    <p><%= @article.content%></p>
  </article>
</div>
